language: node_js
node_js:
  - lts/dubnium
cache:
  directories:
    - node_modules
services:
  - docker
install:
  - yarn
before_script:
  - yarn build
  - docker-compose -f docker-compose.test.yml up -d
script:
  - jest --ci --coverage
after_script:
  - docker-compose -f docker-compose.test.yml down
after_success:
  - npx codecov
